.red h1 { background-color: rgb(199, 64, 64); }
.green h1 { background-color: rgb(72, 168, 27); }
.black h1 { background-color: rgb(111, 111, 111); }

h1 {padding:10px;}

.attr .label {
	width:29%;
	display: inline-block;
}
.attr .value {
	width:70%;
	display: inline-block;
}

.attr span span,
.rule-text {
	padding:10px;
}