.panel-default {
  border-color: #ddd;
  /* margin-top: 47px; */
  padding-top: 79px;
}

/* nav */
.navbar {
	margin-bottom: 0px;
	background-image: none;
	border-bottom: 0px solid #fff;
	padding: 30px 0 9px;
	width:100%;
	position: fixed;
	-webkit-transition: all 300ms ease-in-out;
	}
.affix-top {
	background-color: #F7F7F7;
	margin-top:-20px;
}
.affix {
	background-color: #F7F7F7;
	margin-top:-20px;
	border-bottom: 1px solid #E7E7E7;
}

.navbar-toggle { border-color: #999999; }
	.navbar-toggle .icon-bar { background-color: #999999;}

#quick-attr {
	position: absolute;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 64px;
	margin-bottom: 8px;
	/* background-color: transparent; */
	/* background-image: none; */
	/* border: 1px solid transparent; */
	border-radius: 4px;
	z-index: 9999;
	right: 0px;
}

.power-select {
	margin-bottom: 15px;
}

.power {
	padding: 5px;
	background: #f5f5f5;
	border: 1px solid #ddd;
}
	.power .rules {
		font-weight: 600;
		padding: 5px 0;
	}
	.power .description {
		font-style: italic;
		padding: 5px 0;
	}
	.power .row {
		margin: 0;
	}

.power.green .heading {
	color: #FFFFFF;
	background-color: #498600;
}

.power.red .heading {
	color: #FFFFFF;
	background-color: #9B0000;
}

.power.black .heading {
	color: #ffffff;
	background-color: #666666;
}

.bonus {
	color: rgb(53, 160, 0);
	font-weight: 900;
}

.light {
	color: #A0A0A0;
}

.working {
	color: grey;
	font-weight: 100;
	font-size: 13px;
}
